{{define "index"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> index </title>
        <link rel="stylesheet" href="../static/style/index.css">
    </head>
    <body>
        <a href="/creation" class="create"> <p> Créer un nouveau personnage </p> </a>
        <div class="characters">
            {{range .}}
            <div class="character">
                <div class="everything"> 
                    <div class="top">
                        <div class="img"></div>
                        <div class="stats">
                            <div class="nameage">
                                <p> {{.Name}} </p>
                                <p> {{.Age}} ans </p>
                            </div>
                            <div>
                                <p> {{.Race}} </p>
                            </div>
                            <div>
                                <p> {{.Classe}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <p> {{.Description}} </p>
                    </div>
                </div>
                <div class="admin">
                    <a href="/update?id={{.Id}}"> Update </a>
                    <a href="/delete?id={{.Id}}"> Delete </a>
                </div>
            </div>
            {{end}}
        </div>
    </body>
</html>
{{end}}